.ovic-reset-password__wrap {
	width: 100%;
	min-height: var(--max-screen-height , 100vh);
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent url(../../../../../assets/images/wools-bg.svg) scroll no-repeat center;
	background-size: cover;
}

.ovic-reset-password__inner {
	width: 100%;
	max-width: 400px;
	background: #ffffff;
	text-align: center;
}

.ovic-reset-password__thumb {
	display: block;
	text-align: center;
}

.ovic-reset-password__thumb img {
	display: inline-block;
	max-width: 100px;
	object-fit: contain;
	height: auto;
}

.ovic-reset-password__title {
	font-size: 24px;
	/* text-transform: capitalize; */
	color: #444444;
	font-weight: 500;
	line-height: 1;
	margin: 50px 0 50px;
}

.ovic-reset-password__input {
	display: inline-block;
	width: 100%;
	border: 1px solid #ededed !important;
	padding: 15px;
	background-color: #ffffff;
	border-radius: 9999px;
	outline: none !important;
	box-shadow: none !important;
	font-size: 14px;
	line-height: 16px;
}

.ovic-reset-password__wrap-form {
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

.ovic-reset-password__wrap-form .form-row {
	margin: 0;
}

.ovic-reset-password__wrap-form .form-row + .form-row {
	margin-top: 25px;
}

.ovic-reset-password__btn-submit {
	width: 100%;
	text-align: center;
	line-height: 1;
	padding: 17px;
	border-radius: 9999px;
	border: none;
	outline: none !important;
	box-shadow: none !important;
	font-size: 14px;
}

.ovic-reset-password__wrap-err {
	padding: 15px;
	background-color: rgba(255, 255, 255, .8);
	max-width: 600px;
	text-align: center;
}

.ovic-reset-password__err-mess {
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: #666666;
	line-height: 1.8;
	display: block;
}

.ovic-reset-password__btn-back-home {
	margin-top: 25px;
	min-width: 110px;
	border-radius: 999px;
	text-transform: capitalize;
}

.ovic-reset-password___validate-error {
	position: absolute;
	top: calc(100% + 10px);
	left: 15px;
	right: 15px;
	font-size: 14px;
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba;
	padding: 9px;
	border-radius: 999px;
	margin: 0;
	transition: .3s;
}
