<div class="row">
  <div class="col-12 ovic-ui-table site-thpt" style="height:calc(100vh - 90px)" [class.ovic-is-loading]="isLoading">
    <div class="p-datatable-header" style="height:65px; border-bottom:1px solid #CCC;">
      <h3 class="tbl-title ">Danh sách thí sinh yêu cầu cập nhật thông tin</h3>
      <div class="search-block ui-table-globalfilter-container ">
        <div class="d-flex align-items-center">
          <div class="ovic-vertical__inputs ovic-vertical__inputs--layout-2">
            <div class="d-flex" style="gap:10px;">
              <div class="search-block__elm ">
                <span class="p-input-icon-right">
                  <i class="pi pi-search"></i>
                  <input type="text" pInputText style="height:42px" placeholder="Vd: Trần Văn A..."
                         (input)="onInputChange($event.target['value'])"/>
                </span>
              </div>
              <div class="">
                <button pButton pRipple icon="pi pi-bars" style="height:42px;width: 41px;"
                        [matMenuTriggerFor]="menu"></button>
                <mat-menu #menu="matMenu" class="btn-mat-resize d-flex flex-column w-100 ">
                  <button class="btn-menu-material warning " (click)="btnUpdateLockAndRequest()">
                    <i class="pi pi-check-square"></i>
                    <span>Xác nhận yêu cầu cập nhật</span>
                  </button>
                </mat-menu>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ovic-wrap-table-rps ovic-scroll-style overflow-hidden overflow-y-auto " style="height:calc(100% - 65px - 60px);background: #dedede;">
      <div class="ovic-wrap-table-rps__inner">
        <p-table [(selection)]="dataSelect" styleClass="p-datatable-gridlines" [value]="listData" [rowHover]="true"
                 [rows]="rows" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="isLoading">
          <ng-template pTemplate="header" class="d-bock">
            <tr>
              <th class="ovic-w-50px text-center">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th class="ovic-w-40px text-center ">STT</th>
              <th class="ovic-w-250px text-center ">Họ tên</th>
              <th class="ovic-w-180px text-center">Ngày sinh</th>
              <th class="ovic-w-80px text-center">Giới tính</th>
              <th class="ovic-w-120px text-center">Số điện thoại</th>
              <th class="text-center">Email</th>
              <th class="ovic-w-150px text-center">Số CCCD</th>
              <th class="text-center">Nơi sinh</th>

            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-item let-i="rowIndex">
            <tr>
              <td class="text-center">
                <p-tableCheckbox [value]="item" ></p-tableCheckbox>
              </td>
              <td class="text-center">{{ item['_indexTable'] }}</td>
              <td class="text-left">
                <div class="d-flex justify-content-between p-1">
                  <span>{{ item['hoten'] }}</span>
                </div>
              </td>

              <td class="text-center">{{ item['ngaysinh'] }}</td>
              <td class="ovic-w-80px text-center">{{ item['_gioitinh'] }}</td>
              <td class="ovic-w-80px text-right">{{ item['phone'] }}</td>

              <td class="text-left">{{ item['email'] }}</td>

              <td class="text-right">{{ item['cccd_so'] }}</td>
              <td class="text-left">{{ item['noisinh'] }}</td>

            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="10">
                Không có dữ liệu thí sinh!
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <p-paginator class="duthi_panigator" [showCurrentPageReport]="true" [rows]="rows" [totalRecords]="recordsTotal"
                 [pageLinkSize]="5"
                 (onPageChange)="paginate($event)"></p-paginator>
  </div>
</div>
