<input type="file" #fileChooser hidden="true" (change)="onInputAvatar($event , fileChooser,0)">
<div class="w-100 h-100 ">
  <div class="row m-0 h-100">
    <div class="col">
      <div class="h-100 d-flex justify-content-center">
        <button pRipple [disabled]=" disabled === true ? true : false " class="btn w-100 btn-avata"
          style="height:250px;" (click)="fileChooser.click()">
          <img *ngIf="characterAvatar; else showIcon" class="imgchecksize" [src]="characterAvatar " alt="">
          <ng-template #showIcon>
            <i class="pi pi-upload"></i>
            <div>{{ textView }}</div>
          </ng-template>
        </button>
      </div>
    </div>
  </div>
</div>