
  <div class="home-container">
    <div class="home-slider">
      <p-galleria [autoPlay]="true" [value]="slides" [numVisible]="1" [circular]="true" [showItemNavigators]="true"
                  [showThumbnails]="false" [containerStyle]="{ 'max-width': '100%','max-height':'650px' }">
        <ng-template pTemplate="item" let-item>
          <img [src]="item.img"
               style="width: 100%; max-height: 650px;height: 100% ;display: block;object-fit: cover"/>
        </ng-template>
      </p-galleria>
    </div>
  </div>
  <div class="vr-container container col-xxl- mt-5">
    <div class="d-flex justify-content-center align-items-center flex-column">
      <div class="vr-container_title mb-2">Vr360 tiêu biểu</div>
      <hr class="hr-custom-1">
      <hr class="hr-custom-2">
      <div class="d-flex justify-content-center align-items-center flex-wrap mt-4">
        <div *ngFor="let item of dataLinhvuc">
          <button pButton pRipple
                  [class]="linhvucId === item.id ? 'p-button-primary button-selection ' : 'button-none-selection'"
                  label="{{item.ten}}" class="mx-2 my-1" style="border-radius:40px"
                  (click)="selectDatavr(item.id)"></button>
        </div>

      </div>
      <div *ngFor="let vr of dataVr"></div>
      <!--  thay tế-->
      <div class="w-100 mt-3">
        <div class="row row-cols-2 h-100">
          <div class="intro-x flex-wrap justify-content-between align-items-center col-sm-6 col-md-3 p-0"
               *ngFor="let item of dataVr" (click)="btnSelectNgulieu(item)">
            <div class="d-inline-block" style=" max-width:300px; width:100%; overflow: hidden;cursor: pointer">
              <img class="w-100 h-100 ovic-img-zoom" [src]="item.file_thumbnail ? item['_img_thumbnail']: 'assets/images/placeholder-3x2.jpg'" alt="">
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="dataVr == []">
        <div class="w-100 d-flex justify-content-center align-items-center" style="height:300px">
          <h3>Không có dữ kiệu </h3>
        </div>
      </ng-container>
    </div>


  </div>

  <div class="shift-test-container mt-5" style="background: #75837ad4;max-width: 100%;overflow: hidden; ">
    <div class=" container d-flex justify-content-center align-items-center flex-column py-5">
      <div class="row ">
        <div class="col text-right shif-test-left shif-test__img">
          <img class="w-100" style="max-width:100%"t src="assets/icon-png/shift-test.png" alt="">
        </div>
        <div class="col shif-test-right resize-test-right">
          <div class="w-100 text-center p-2">
            <h3 class="shift-test__title">Tìm hiểu về Lịch sử - Văn hoá</h3>
            <h3 class="shift-test__title">thông qua các cuộc thi</h3>
            <button pButton pRipple label="Chi tiết" class="btn_shifTest mt-2" (click)="btn_shift()"></button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="shift-test-container container col-xxl- mt-5 mb-4">
    <div class="d-flex justify-content-center align-items-center flex-column">
      <div class="vr-container_title mb-2">Sự kiện tiêu biểu</div>
      <hr class="hr-custom-1">
      <hr class="hr-custom-2">
      <div class="d-flex justify-content-center align-items-center flex-wrap mt-4">
        <div *ngFor="let item of dataLinhvuc">
          <button pButton pRipple
                  [class]="loaidoituong === item.id ? 'p-button-primary button-selection ' : 'button-none-selection'"
                  label="{{item.ten}}" class="mx-2 my-1" style="border-radius:40px"
                  (click)="selectDataSukien(item.id)"></button>
        </div>

        <!--  thay tế-->
        <div class="w-100 mt-3">
          <div class="row row-cols-2 h-100">
            <div class="intro-x flex-wrap justify-content-between align-items-center col-sm-6 col-md-3 p-0"
                 *ngFor="let item of dataSukien" (click)="btnSelectSukien(item)">
              <div class="d-inline-block" style=" max-width:300px; width:100%; overflow: hidden;cursor: pointer">
                <img class="w-100 h-100 ovic-img-zoom"
                     [src]="item['_img_thumbnail'] ? item['_img_thumbnail']: 'assets/images/placeholder-3x2.jpg'" alt="">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


