<div class="container p-0">
  <div class="ovic-chat-container">
    <div class="ovic-chat-header">
      <div class="ovic-chat-header__content">
        <div class="ovic-chat-header__content-title">
          <div class=" ovic-chat-header__content-title--icon" >
            <div class="ovic-chat-header__content-title--icon-active"></div>
          </div>
          <div class="ovic-chat-header__content-title--text" >
            <div class="ovic-chat-header__content-title--text-title">Chát bót</div>
            <div class="ovic-chat-header__content-title--text-active"> Đang hoạt động</div>
          </div>

          <div></div>
        </div>
      </div>
    </div>
    <div class="ovic-chat-body">


    </div>
    <div class="ovic-chat-footer">
      <div class="ovic-chat-footer__btn">
        <button pButton pRipple class="p-button-raised" icon="pi pi-bars"></button>
      </div>
      <div class="ovic-chat-footer__content">
        <input class="" type="text">
      </div>
      <div class="ovic-chat-footer__btn">
        <button pButton pRipple class="p-button-raised" icon="pi pi-send" (click)="sendChat()"></button>
      </div>
    </div>
  </div>
</div>

