<div class="row">
  <div class="col-12 ovic-ui-table site-thpt" style="height:calc(100vh - 90px)" [class.ovic-is-loading]="isLoading">
    <div class="ovic-load-init-fail alert alert-danger --fs-14" *ngIf="loadInitFail; else tableData">
      Đã có lỗi trong quá trình tải dữ liệu
      <button class="btn btn-primary border-circle --fs-13 ml-2" (click)="loadInit()">Reload</button>
    </div>
    <ng-template #tableData>
      <div class="p-datatable-header" style="border-bottom:1px solid #CCC;">
        <h3 class="tbl-title ">Danh sách hội đồng thi</h3>
        <div class="search-block ui-table-globalfilter-container ">
          <div class="d-flex align-items-center">
            <div class="ovic-vertical__inputs ovic-vertical__inputs--layout-2">
              <div class="d-flex">
                <div>
                  <p-dropdown [options]="dataKeHoach" optionLabel="dotthi" optionValue="id"
                              placeholder="Chọn đợt thi" [showClear]="true"
                              (onChange)="changeSelectData($event.value)"></p-dropdown>
                </div>
                <div class="search-block__elm ml-2">
                                    <span class="p-input-icon-right">
                                        <i class="pi pi-search"></i>
                                        <input type="text" pInputText style="height:42px" placeholder="Tìm kiếm"
                                               (input)="onInputChange($event.target['value'])"/>
                                    </span>
                </div>
                <div class="search-block__elm ml-2">
                  <button pButton pRipple label="Thêm mới" icon="pi pi-plus" [iconPos]="'right'"
                          (click)="btnAddNew('add')" class="p-button-success"
                          style="height:42px;border-radius: 30px;padding: 10px 22px;"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ovic-wrap-table-rps ovic-scroll-style overflow-hidden overflow-y-auto"
           style="height:calc(100% - 65px - 60px);background: #dedede;">
        <p-table [value]="listData" [showCurrentPageReport]="false" styleClass="p-datatable-gridlines"
                 [tableStyle]="{ 'min-width': '100px' }">
          <ng-template pTemplate="header">
            <tr>
              <th class="ovic-w-50px text-center">TT</th>
              <th class="ovic-w-350px text-left">Tên hội đồng</th>
              <th class="text-left text-center"> Đợt thi</th>
              <th class="ovic-w-85px text-center">Trạng thái</th>
              <th class="ovic-w-85px text-center">Tổng thí sinh</th>
              <th class="ovic-w-85px text-center">Toán</th>
              <th class="ovic-w-85px text-center">Vật lí </th>
              <th class="ovic-w-85px text-center">Hóa học </th>
              <th class="ovic-w-85px text-center">Sinh học</th>
              <th class="ovic-w-85px text-center">Lịch sử</th>
              <th class="ovic-w-85px text-center">Địa lí</th>
              <th class="ovic-w-85px text-center">Tiếng Anh</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="20">Không có dữ liệu, vui lòng chọn đợt thi.</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td class="ovic-w-50px text-center" [innerHTML]="item['__indexTable']"></td>

              <!--                <div class="d-block &#45;&#45;fs-14 font-weight-bold" [innerHTML]="item['ten_hoidong']"></div>-->
              <td class="text-left">
                <div class="d-flex justify-content-between p-1">
                  <span class="d-block --fs-14 font-weight-bold">{{ item['ten_hoidong'] }}</span>
                  <div class="d-flex flex-row">
                    <i *ngIf="item['lock'] === 0" class="mx-2 pi pi-lock d-flex align-items-center font-weight-bold" tooltipPosition="left" pTooltip="Khoá hội đồng" style="padding:4px;" (click)="btnLockData(item)"></i>
<!--                    <i *ngIf="item['lock'] !== 0" class="disabled mx-2 pi pi-lock d-flex align-items-center font-weight-bold" style="padding:4px;" ></i>-->
                    <i class="d-flex align-items-center pi pi-ellipsis-v" style="padding:4px;"
                       [matMenuTriggerFor]="menu"></i>
                  </div>
                  <mat-menu #menu="matMenu" class="d-flex flex-column w-100 h-100">
                    <button *ngIf="item['lock'] === 0" class="btn-menu-material cancel" (click)="btnAddThisinh(item)">
                      <i class="pi pi-user-plus"></i>
                      <span>Thêm thí sinh vào hội đồng</span>
                    </button>
                    <button class="btn-menu-material acsses" (click)="btnThiSinhInHoiDong(item)">
                      <i class="pi pi-users"></i>
                      <span>Danh sách thí sinh</span>
                    </button>
                    <button class="btn-menu-material excel" (click)="btnViewThongke(item)">
                      <i class="pi pi-server"></i>
                      <span>Thống kê dữ liệu </span>
                    </button>
                    <button class="btn-menu-material acsses" (click)="btnXuattuidongphieu(item)">
                      <i class="pi pi-file-word"></i>
                      <span>Xuất túi đựng phiếu</span>
                    </button>
                    <button class="btn-menu-material excel" (click)="btnExportExcelV3(item)">
                      <i class="pi pi-file-excel"></i>
                      <span>Xuất dữ liệu </span>
                    </button>
                    <button *ngIf="item['lock'] === 0" class="btn-menu-material warning" (click)="btnAddNew('update' , item)">
                      <i class="pi pi-file-edit"></i>
                      <span> Cập nhật </span>
                    </button>
<!--                    <ng-template #lockUpdate>-->
<!--                      <button class="btn-menu-material warning">-->
<!--                        <i class="pi pi-file-edit"></i>-->
<!--                        <span> Cập nhật </span>-->
<!--                      </button>-->
<!--                    </ng-template>-->
                    <button *ngIf="item['lock'] === 0 " class="btn-menu-material delete" (click)="btnDelete(item)">
                      <i class="pi pi-trash"></i>
                      <span>Xóa hội đồng</span>
                    </button>
<!--                    <ng-template #lockdelete>-->
<!--                      <button class="btn-menu-material delete" >-->
<!--                        <i class="pi pi-trash"></i>-->
<!--                        <span>Xóa hội đồng</span>-->
<!--                      </button>-->
<!--                    </ng-template>-->

                  </mat-menu>
                </div>
              </td>

              <td class="ovic-w-260px">
                <div class="d-block --fs-14" [innerHTML]="item['__kehoach_coverted']"></div>
              </td>
              <td class="ovic-w-150px">
                <div *ngIf="item['lock'] === 0" class="d-block --fs-14" [innerHTML]="item['__status_converted'] | htmlDecode"></div>
                <div *ngIf="item['lock'] !== 0" class="d-block --fs-14" ><span class="badge badge--size-normal badge-success w-100"><i class="mx-1 pi pi-lock"></i> Đã hoàn thành </span></div>
              </td>
              <td class="text-center" [innerHTML]="item['__total']"></td>
              <td class="text-center" >{{item['__mon_th']}}</td>
              <td class="text-center" >{{item['__mon_vl']}}</td>
              <td class="text-center" >{{item['__mon_hh']}}</td>
              <td class="text-center" >{{item['__mon_sh']}}</td>
              <td class="text-center" >{{item['__mon_ls']}}</td>
              <td class="text-center" >{{item['__mon_dl']}}</td>
              <td class="text-center" >{{item['__mon_ta']}}</td>

            </tr>
          </ng-template>
        </p-table>

      </div>
      <p-paginator class="duthi_panigator" [showCurrentPageReport]="true" [rows]="rows" [totalRecords]="recordsTotal"
                   [pageLinkSize]="5"
                   (onPageChange)="paginate($event)"></p-paginator>

    </ng-template>
  </div>
</div>


<ng-template #fromUpdate>
  <div class="ovic-side-navigation-content">
    <div class="ovic-side-navigation-content__head">
      <h4 class="ovic-side-navigation-content__head__title">{{ formActive ? formActive.title : '' }}</h4>
      <button (click)="closeForm()" pButton pRipple type="button" icon="pi pi-times"
              class="p-button-rounded p-button-danger p-button-text close ovic-side-navigation-content__head__btn-close"></button>
    </div>
    <div class="ovic-side-navigation-content__body ovic-scroll-style">
      <div class="ovic-vertical__inputs ovic-vertical__inputs--layout-2">
        <form [formGroup]="formSave" autocomplete="off">
          <div class="row">
            <div class="col-8">
              <div class="form-row">
                <label>Tên hội đồng<span class="ovic-mark">*</span></label>
                <input type="text" placeholder="Tên hội đồng..."
                       formControlName="ten_hoidong" autocomplete="off">
              </div>
            </div>
            <div class="col-4">
              <div class="form-row">
                <label>Trạng thái <span class="ovic-mark">*</span></label>
                <p-dropdown placeholder="Chọn..." class="w-100" [options]="statusList"
                            optionLabel="label" optionValue="value" [showClear]="true"
                            formControlName='status'></p-dropdown>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <p class="form-row">
                <label>Đợt thi <span class="ovic-mark">*</span></label>
                <p-dropdown placeholder="Chọn..." class="w-100" [options]="dataKeHoach"
                            optionLabel="dotthi" optionValue="id" [showClear]="true"
                            formControlName='kehoach_id'></p-dropdown>
              </p>
            </div>
            <div class="col-4 ">
              <p class="form-row">
                <label>Ngày thi <span class="ovic-mark">*</span></label>
                <p-calendar class="w-100" formControlName="ngaythi" placeholder="Chọn ngày thi" dateFormat="dd/mm/yy"
                            [showIcon]="true" [showSeconds]="false"></p-calendar>
              </p>
            </div>
            <div class="col-4">
              <p class="form-row" [class.fieldset--error]="f['tiento_sobaodanh'].touched && f['tiento_sobaodanh'].invalid"
                 [class.fieldset--invalid]="f['tiento_sobaodanh'].touched && f['tiento_sobaodanh'].valid">
                <label>Tiền tố số báo danh <span class="ovic-mark">*</span></label>
                <input type="text" placeholder="Vd: TNU241"
                       formControlName="tiento_sobaodanh" autocomplete="off">
              </p>
            </div>

          </div>
          <div class="row">
            <div class="col-12 ">
              <p class="form-row">
                <label>Mô tả</label>
                <ovic-editor [formField]="f['mota']" class="w-100"></ovic-editor>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="ovic-side-navigation-content__foot">
      <span class="ovic-side-navigation-content__foot__notice mr-auto"><mark>(*)</mark> bắt buộc phải nhập</span>
      <button pButton pRipple type="button" [label]="btn_checkAdd" icon="pi pi-save" (click)="saveForm()"
              class="p-button-success"></button>
      <button pButton pRipple type="button" label="Đóng" class="p-button-secondary ml-3" icon="pi pi-times"
              (click)="closeForm()"></button>
    </div>
  </div>
</ng-template>


<!--<ng-template #examinationRoom>-->

<!--  <div class="ovic-side-navigation-content">-->
<!--    <div class="ovic-side-navigation-content__head">-->
<!--      <h4 class="ovic-side-navigation-content__head__title">Quản lý phòng thi</h4>-->
<!--      <button (click)="closeForm()" pButton pRipple type="button" icon="pi pi-times"-->
<!--              class="p-button-rounded p-button-danger p-button-text close ovic-side-navigation-content__head__btn-close"></button>-->
<!--    </div>-->
<!--    <div class="ovic-side-navigation-content__body &#45;&#45;no-footer ovic-scroll-style ">-->
<!--      <app-phong-thi class="w-100" [hoidong_id]="hoidong_id" [kehoach_id]="kehoach_id_param"></app-phong-thi>-->
<!--      <app-phong-thi-v2 class="w-100" [hoidong_id]="hoidong_id" [kehoach_id]="kehoach_id_param"></app-phong-thi-v2>-->
<!--      <app-phong-thi-v3 class="w-100" [hoidong_id]="hoidong_id" [kehoach_id]="kehoach_id_param"></app-phong-thi-v3>-->
<!--    </div>-->

<!--  </div>-->
<!--</ng-template>-->

<ng-template #addThiSinh>
  <div class="ovic-side-navigation-content">
    <div class="ovic-side-navigation-content__head justify-content-between">
      <h4 class="ovic-side-navigation-content__head__title">Quản lý phòng thi</h4>
      <div class="d-flex " style="gap:10px;">
        <button pButton pRipple icon="pi pi-sync" class="p-button-secondary" label="Reload"
                (click)="btnReloadData()"></button>
        <button pButton pRipple icon="pi pi-user-plus" class="p-button-success" [disabled]="orderSelectTotal === 0"
                label="Thêm thí sinh vào hội đồng" (click)="btnCreateThisinhInHoiDOng()"></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-danger" [disabled]="thiSinhSelectTotal === 0"
                label="Xóa thí sinh trong hội đồng" (click)="btnDeleteThiSinhInHoiDong()"></button>
        <button pButton pRipple icon="pi pi-file-edit" class="" [disabled]="thiSinhSelectTotal === 0"
                label="Xếp phòng thi cho thí sinh" (click)="btnUpdateRoombyThisinh()"></button>
        <button pButton pRipple icon="pi pi-sliders-h" class="p-button-warning" [disabled]="thiSinhSelectTotal === 0"
                label="Tối ưu phòng thi" (click)="btnUpdateCompactRoom()"></button>
      </div>
      <button (click)="closeForm()" pButton pRipple type="button" icon="pi pi-times"
              class="p-button-rounded p-button-danger p-button-text close "></button>
    </div>
    <div class="ovic-side-navigation-content__body --no-footer ovic-scroll-style ">
      <app-add-thi-sinh class="w-100" (onDataChange)="onDataChange($event)" [hoidong_id]="hoidong_id"
                        [kehoach_id]="kehoach_id_param"></app-add-thi-sinh>
    </div>

  </div>

</ng-template>

<ng-template #thiSinhInPhongThi>
  <div class="ovic-side-navigation-content">
    <div class="ovic-side-navigation-content__head">
      <h4 class="ovic-side-navigation-content__head__title">Danh sách thí sinh</h4>
      <button (click)="closeForm()" pButton pRipple type="button" icon="pi pi-times"
              class="p-button-rounded p-button-danger p-button-text close ovic-side-navigation-content__head__btn-close"></button>
    </div>
    <div class="ovic-side-navigation-content__body --no-footer ovic-scroll-style ">
      <!--      <app-phong-thi class="w-100" [hoidong_id]="hoidong_id" [kehoach_id]="kehoach_id_param"></app-phong-thi>-->
      <thi-sinh-in-hoi-dong class="w-100" [hoidong_id]="hoidong_id"
                            [kehoach_id]="kehoach_id_param"></thi-sinh-in-hoi-dong>
      <!--      <app-phong-thi-v3 class="w-100" [hoidong_id]="hoidong_id" [kehoach_id]="kehoach_id_param"></app-phong-thi-v3>-->
    </div>

  </div>
</ng-template>

<ng-template #ViewThongKe>
  <div class="ovic-side-navigation-content">
    <div class="ovic-side-navigation-content__head">
      <h4 class="ovic-side-navigation-content__head__title">Thống kê dữ liệu ({{hoidong_select.ten_hoidong}})</h4>
      <button (click)="closeForm()" pButton pRipple type="button" icon="pi pi-times"
              class="p-button-rounded p-button-danger p-button-text close ovic-side-navigation-content__head__btn-close"></button>
    </div>
    <div class="ovic-side-navigation-content__body --no-footer ovic-scroll-style ">
      <thong-ke-du-lieu [hoidong_id]="hoidong_id" ></thong-ke-du-lieu>
    </div>

  </div>
</ng-template>
