<div class="ovic-pivot-table">
    <div class="ovic-pivot-table__head">
        <div class="ovic-pivot-table__head__left">
            <h3 class="ovic-pivot-table__head__left__table-name">Danh sách đối tượng thi đua khen thưởng cá nhân</h3>
        </div>
        <div class="ovic-pivot-table__head__right">
            <button class="btn">Thêm mới</button>
            <button class="btn">:</button>
        </div>
    </div>
    <div class="ovic-pivot-table__body">
        <table class="tbl ovic-pivot-table__tbl">

        </table>
    </div>
    <div class="ovic-pivot-table__foot">

    </div>
</div>
