
  <div class="row h-100">
    <div class="col-12 ovic-ui-table site-thpt" style="height:calc(100%)"
         [class.ovic-is-loading]="isLoading">
      <div class="p-datatable-header" style="height:65px; border-bottom:1px solid #CCC;">
        <h3 class="tbl-title ">Kết quả dự thi</h3>
        <div class="search-block ui-table-globalfilter-container ">
          <div class="d-flex align-items-center">
            <div class="ovic-vertical__inputs ovic-vertical__inputs--layout-2">
              <div class="d-flex" style="gap:10px;">
                <div class="">
                </div>
                <div class="search-block__elm ">
                  <p-dropdown class="h-100 border-radius-0 mx-2" placeholder="Chọn đợt thi..." (onChange)="changeDotthi($event)" [options]="kehoachThi" optionValue="id" optionLabel="dotthi"></p-dropdown>
                  <button pButton pRipple class="h-100 mx-2 border-radius-0" icon="pi pi-search" pTooltip="tìm kiếm" tooltipPosition="left" (click)="btnSearchData()"></button>
<!--                  <button pRipple pButton class="p-button-success h-100 mx-2 border-radius-0" icon="pi pi-file-export" label="Tải phiếu kết quả "></button>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ovic-wrap-table-rps ovic-scroll-style overflow-hidden overflow-y-auto"
           style="height:calc(100% - 65px - 60px );background: #dedede;">
        <div class="ovic-wrap-table-rps__inner">
          <p-table  styleClass="p-datatable-gridlines" [value]="dsKetqua"
                    [rowHover]="true"
                     [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                    [loading]="isLoading">
            <ng-template pTemplate="header" class="d-bock">
              <tr>
                <th class="ovic-w-40px text-center ">STT</th>

                <th class="ovic-w-100px text-center ">Số báo danh</th>
                <th class="ovic-w-180px text-center">Họ và tên</th>
                <th class="ovic-w-120px text-center">Ngày sinh</th>
                <th class="ovic-w-80px text-center">Giới tính </th>
                <th class="ovic-w-120px text-center">CMND/CCCD</th>
                <th class="text-center">Email</th>
                <th class="text-center">Số điện thoại</th>
                <th class="ovic-w-130px text-center">Ca thi</th>
                <th class="ovic-w-130px text-center">Phòng thi </th>
                <th class="ovic-w-130px text-center">Môn thi</th>
                <th class="ovic-w-100px text-center">Điểm</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-item >
              <tr>
                <td class="text-center">{{ item['__index'] }}</td>

                <td class="text-center">{{item.sobd}}</td>
                <td class="text-center">{{item.hoten}}</td>
                <td class="text-center">{{item.ngaysinh}}</td>
                <td class="text-center">{{item.gioitinh}}</td>
                <td class="text-center">{{item.cccd_so}}</td>
                <td class="text-center">{{item.email}}</td>
                <td class="text-center">{{item.dienthoai}}</td>
                <td class="text-center">{{item.cathi}}</td>
                <td class="text-center">{{item.phongthi}}</td>
                <td class="text-center">{{item.monthi}}</td>
                <td class="text-center">{{item.diem}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="12">
                  Không có dữ liệu thí sinh!
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
<!--  <button pButton pRipple label="getfile " (click)="getfile()"></button>-->
