<div class="row">
  <div class="col-12" [class.ovic-is-loading]="isLoading">
    <div class="ovic-load-init-fail alert alert-danger --fs-14" *ngIf="loadInitFail; else tableData">
      Đã có lỗi trong quá trình tải dữ liệu
      <button class="btn btn-primary border-circle --fs-13 ml-2" (click)="loadInit()">Reload</button>
    </div>
    <ng-template #tableData>
      <ovic-table emptyMessage="Danh sách trống" [index]="index" [data]="listData"
                  styleClass="tbl-danh-sach-tap-the head-input-size--normal head-input-size--250px" dataKey="id"
                  rowHover="true"
                  [rows]="15" tableName="Danh sách chuyên mục" [tblStructure]="tblStructure"
                  (onButtonClick)="handleClickOnTable($event)" [enableSearch]="true" [enableSearchLocal]="false"
                  (onSearch)="onSearch($event)" [searchDebounceTime]="800" [headerButtons]="headButtons"></ovic-table>
      <p-paginator class="p-paginator--custom" [showCurrentPageReport]="true" [rows]="rows"
                   [totalRecords]="recordsTotal" [pageLinkSize]="5" (onPageChange)="paginate($event)"></p-paginator>
    </ng-template>
  </div>
</div>

<ng-template #fromUpdate>
  <div class="ovic-side-navigation-content">
    <div class="ovic-side-navigation-content__head">
      <h4 class="ovic-side-navigation-content__head__title">{{formActive ? formActive.title : ''}}</h4>
      <button (click)="closeForm()" pButton pRipple type="button" icon="pi pi-times"
              class="p-button-rounded p-button-danger p-button-text close ovic-side-navigation-content__head__btn-close"></button>
    </div>
    <div class="ovic-side-navigation-content__body ovic-scroll-style">
      <div class="ovic-vertical__inputs ovic-vertical__inputs--layout-2">
        <form [formGroup]="formSave" autocomplete="off">
          <div class="row">
            <div class="col-6">
              <p class="form-row" >
                <label>Tên chuyên mục<span class="ovic-mark">*</span></label>
                <input pRipple pInputText type="text" placeholder="Tên chuyên mục..." formControlName="ten"
                       autocomplete="off">
              </p>
            </div>
            <div class="col-6">
              <p class="form-row">
                <label>Trạng thái <span class="ovic-mark">*</span></label>
                <p-dropdown placeholder="Chọn..." class="w-100" [options]="statusList" optionLabel="label"
                            optionValue="value" [showClear]="true"
                            formControlName='status'></p-dropdown>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="form-row">
                <label for="mota">Mô tả</label>
                <textarea formControlName="mota" placeholder="Mô tả..." autocomplete="off" id="mota" cols="30"
                          rows="5"></textarea>
              </p>
            </div>

          </div>

        </form>
      </div>
    </div>
    <div class="ovic-side-navigation-content__foot">
      <span class="ovic-side-navigation-content__foot__notice mr-auto"><mark>(*)</mark> bắt buộc phải nhập</span>
      <button pButton pRipple type="button" [label]="btn_checkAdd"  icon="pi pi-save" (click)="saveForm()"
              class="p-button-success"></button>
      <button pButton pRipple type="button" label="Đóng" class="p-button-secondary ml-3" icon="pi pi-times"
              (click)="closeForm()"></button>
    </div>
  </div>
</ng-template>

