.btn_upload_excel{
  width: 200px;
  height: 100%;
  background: none;
  border: 2px dashed #ccc;
}

.text_in_line{
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
