<div class="modal-header ">
    <h4 class="modal-title" id="modal-title">{{head}}</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="confirm(false)"><i class="pi pi-times"></i></button>
</div>
<div class="modal-body ovic-modal-body">
<!--    <i class="pi pi-exclamation-triangle"></i>-->
    <p>{{message}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="confirm(true)">
        Có
    </button>
    <button type="button" class="btn btn-cancel" (click)="confirm(false)">
        Không
    </button>
</div>
