<p-splitter [panelSizes]="[20,80]" [style]="{'height': 'calc(100vh - 60px - 20px)'}">
  <ng-template pTemplate>

    <div class="phongthi-container">
      <div class="phongthi-head"> Cài đặt</div>
      <div class="phongthi-body">
        <form [formGroup]="formSave" autocomplete="off">
          <div class="ovic-vertical__inputs ovic-vertical__inputs--layout-2">
            <div class="row">
              <div class="col-12">
                <div class="form-row">
                  <label>Ca thi</label>
                  <input type="text" formControlName="ten_cathi" placeholder="Nhập Ca thi ... ">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-row">
                  <label>Tiền tố số báo danh</label>
                  <input type="text" formControlName="tiento" placeholder="Vd:TN,VN,...">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-row">
                  <label>Môn thi</label>
                  <p-multiSelect class="phongthi-drd" [style]="{'width':'100%','height':'43px'}"
                    placeholder="Chọn môn cần tạo phòng" [options]="dmMon" optionValue="id" optionLabel="tenmon"
                    formControlName="monthi"></p-multiSelect>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-row">
                  <label>Sắp xếp thí sinh trên phòng thi</label>
                  <div class="formCheckRadius ">
                    <div *ngFor="let item of radioButton" class="field-checkbox">
                      <p-radioButton [inputId]="item.id" [value]="item.value"
                        formControlName="type_sapxep"></p-radioButton>
                      <span class="ml-2">{{item.label}}</span>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="phongthi-footer">
        <button class="p-button-success" pButton pRipple icon="pi pi-check" label="Rà xoát thí sinh"
          (click)="selectThisinhWithMonthi()"></button>
        <button class="p-button-secondary" pButton pRipple icon="pi pi-sync " label="Reset form"></button>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate>
    <ng-container [ngSwitch]="TypeChangePage">
      <ng-container *ngSwitchCase="'-1'">
        <div class="w-100 h-100 d-flex justify-content-center align-items-center flex-column gap-1">
          <div>
            <i class="pi pi-spin pi-spinner"></i>
          </div>
          <div>Đang load dữ liệu vui lòng chờ</div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'0'">
        <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center gap-1"
          style="font-size: 16px;">

          <div>Chưa có phòng thi </div>
          <div>Vui lòng tạo phòng thi!</div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'1'">
        <!-- <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center gap-1"
          style="font-size: 16px;">
          <div>có phòng thi </div>
        </div> -->

        <div class="hoidong__body-section">
          <ul class="hoidong__list-data">
            <li *ngFor="let item of hoiDongPhongThi">
              <div class="hoidong-item_class">
                <div class="hoidong-item__thumbnail">

                </div>
                <div class="hoidong-item__detail">
                  <div class="hoidong-item__detail-body">
                    <div class="hoidong-item__wrap-class-name" [innerHTML]="item['ten_phongthi']"></div>
                    <div class="hoidong-item__class-resource">
                      <ul class="hoidong-item__list-resource">
                        <li class="hoidong-item-class__elm-resource">
                          <i class="pi pi-code"></i>Mã phòng thi:
                          <span>{{item.ma_phongthi}}</span>

                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </li>
          </ul>
        </div>
        <!-- <div class="hoidong-container" style="padding: 60px 0 0 0;">
          <div class="hoidong-item" *ngFor="let item of hoiDongPhongThi">
            <div class="hoidong-item__image">
              <i class="pi pi-verified" style="font-size: 4rem;"></i>
            </div>
            <div class="hoidong-item__content">
              <div class="hoidong-item__content-header">{{item.ten_phongthi}}</div>
              <div class="hoidong-item__content-element">
                <div class="hoidong-item__content-element__title">Mã Phòng thi:</div>
                <div> {{item.ma_phongthi}}</div>
              </div>
              <div class="hoidong-item__content-element">
                <div class="hoidong-item__content-element__title">Số lượng thí sinh:</div>
                <div> {{item.sothisinh}}</div>
              </div>
            </div>
          </div>
        </div> -->

      </ng-container>
    </ng-container>
  </ng-template>
</p-splitter>



<ng-template #templateWaiting let-c="close" let-d="dismiss">
  <div class="waiting-container">
    <label>Vui lòng chờ...</label>
    <div class="waiting-content">
      <mat-progress-bar mode="buffer"></mat-progress-bar>
    </div>
  </div>
</ng-template>
