.input-search-locally {
	padding: 7px 10px;
	font-size: 14px;
	line-height: 1.4;
	min-width: 250px;
}

.ovic-toggle-users-menu {
	display: flex;
	width: 100%;
	position: relative;
}

/*.user-info-component {*/
/*	display: block;*/
/*	width: 100%;*/
/*}*/

.ovic-toggle-users-menu + .ovic-toggle-users-menu {
	margin-top: 5px;
}

.ovic-toggle-users-menu .btn-call-menu {
	position: absolute;
	top: 0;
	right: 0;
	border: none !important;
	width: 28px;
	height: 28px;
	margin: 5px;
	outline: none !important;
	box-shadow: none !important;
	opacity: 0;
	visibility: hidden;
	/*z-index: -10;*/
	transition: all .5s ease;
	border-radius: 4px;
	transform: scale(.8);
}

.ovic-toggle-users-menu:hover .btn-call-menu {
	opacity: .8;
	visibility: visible;
	/*z-index: 10;*/
	transform: scale(1);
}

.ovic-toggle-users-menu .btn-call-menu:hover {
	opacity: 1;
}

.ovic-toggle-users-menu--circle {
	width: auto;
	display: inline-flex;
}

.ovic-toggle-users-menu--circle .user-info-component {
	padding: 0;
	border: none !important;
	box-shadow: none !important;
	border-radius: 999px
}

.ovic-toggle-users-menu--circle .user-info-component__media {
	border-radius: 999px;
	box-shadow: 0 0 0 1px #aaaaaa;
	color: #666666;
}

.ovic-toggle-users-menu--circle .btn-call-menu {
	font-size: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto;
	height: auto;
	opacity: 0 !important;
}
