.add-container {
    height: 100%;

}

.add-content {
    height: calc(100vh - 60px - 60px - 20px);
    padding-bottom: 10px;
}

.add-footer {
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc;
}
.ovic-wrap-table-rps{
  width:100%;
  display: block;
  overflow-x: auto;
}

.ovic-wrap-table-rps__inner{
  display: block;
  width: 100%;
  min-width: 1400px;
}
