<div class="vr-content" style="height: var(--max-screen-height)">
  <div class="ngulieuso__container h-100 w-100" style="padding-top: 20px;">
    <div *ngIf="ngulieuImage360.length ?? 0 > 0">
      <div class="ngulieuso__title" style="padding-right:28px; padding-bottom:8px; margin-bottom: 10px">Ngữ liệu ảnh Vr 360</div>
      <div class="row row-cols-2 mx-0" style="padding:0 3px">
        <div
          class="d-flex flex-wrap flex-row justify-content-between align-items-center col-sm-6 col-md-4 col-lg-3 p-2"
          *ngFor="let item of ngulieuImage360" (click)="btnSelectNgulieu(item)">
          <div class="w-100 d-inline-block shadow-sm bg-white ovic--parent-image position-relative"
               style="border-radius:4px">
            <div class='head-card_hover w-100 bg-image hover-zoom' style="cursor: pointer;">
              <div class="position-relative w-100 st-image img-child-max-width" style="overflow: hidden">
                <img class="w-100 h-100 ovic-img-zoom"
                     [src]="item.file_thumbnail ? item['__file_thumbnail'] : 'assets/images/placeholder-3x2.jpg'"
                     alt="">
              </div>
              <div class="m-2">
                <div
                  class="headding-card text_hover ngulieuso_item_title">
                  {{item.title}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="ngulieuVideo360.length ?? 0 > 0">
      <div class="ngulieuso__title mt-4" style="padding-right:14px; padding-bottom:8px; margin-bottom: 10px;">Ngữ liệu video Vr 360</div>
      <div class="row row-cols-2 mx-0 pb-2" style="padding:0 3px">
        <div
          class="d-flex flex-wrap flex-row justify-content-between align-items-center col-sm-6 col-md-4 col-lg-3 p-2"
          *ngFor="let item of ngulieuVideo360" (click)="btnSelectNgulieu(item)">
          <div class="w-100 d-inline-block shadow-sm bg-white ovic--parent-image position-relative"
               style="border-radius:4px">
            <!--      <div class='head-card_hover w-100 bg-image hover-zoom' (click)="btnSelectItem(item)" style="cursor: pointer;">-->
            <div class='head-card_hover w-100 bg-image hover-zoom' style="cursor: pointer;">
              <div class="position-relative w-100 st-image img-child-max-width" style="overflow: hidden">
                <img class="w-100 h-100 ovic-img-zoom"
                     [src]="item.file_thumbnail ? item['__file_thumbnail'] : 'assets/images/placeholder-3x2.jpg'"
                     alt="">
              </div>
              <div class="m-2">
                <div
                  class="headding-card text_hover ngulieuso_item_title">
                  {{item.title}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <ng-container *ngIf="!ngulieuImage360.length ?? 0 > 0 && !ngulieuVideo360.length ?? 0 > 0">
      <div class="d-flex justify-content-center align-items-center mx-1" style="font-size:14px">Không có dữ liệu</div>

    </ng-container>

  </div>

</div>
