
.ovic-side-navigation-content__body {
  max-height: calc(var(--max-screen-height, 100vh) - var(--side-navigation-offset-top, 60px) - 60px - 60px);
}
.btn-ctm{
  border: 1px solid #e0e0e0;
  min-height: 42px;
}
.ctn-left {
  width: 40%;
  padding-right: 20px;
  border-right: 1px solid #2687fc;
}

.ctn-right {
  width: 100%;
  margin: 0;
  padding: 0 20px ;
}
.datainfo-title {
  ;
  justify-content: center;
  align-content: center;
}

.datainfo-title, .datainfo-body {
  width: 100%;
  border: 1px dashed #2687fc;
  border-radius: 5px;
  padding: 10px 10px;
}
.datainfo-title__p {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  width:60%;
}
.datainfo-body__img{
  padding:10px;
  width:600px;
  background-size: contain;
}
.datainfo-body__dec {
  display: block;
}
.datainfo-body__tag {
  display: inline-block;
}
.datainfo-body__tag--item{
  background: #2687fc;
  color:#fff;
  padding: 7px 10px 5px;
  border-radius: 999px;
  line-height: 1;
  margin: 5px;
}

.datainfo-body__audio{
  width:100%;
}
.map-Resize{
  position: absolute;
  width:100%;
  height:400px;
}


