<div class="surface-ground px-0 px-md-3 pt-3">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3 mb-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="d-flex justify-content-between mb-3">
                    <div>
                        <span class="d-block surface-card__title mb-3">Orders</span>
                        <div class="surface-card__subtitle">152</div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center bg-blue-100 border-round" style="width:42px;height:42px">
                        <i class="pi pi-shopping-cart text-blue-500 text-size-20"></i>
                    </div>
                </div>
                <span class="surface-card__text-highlight">24 new </span>
                <span class="surface-card__text">since last visit</span>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="d-flex justify-content-between mb-3">
                    <div>
                        <span class="d-block surface-card__title mb-3">Revenue</span>
                        <div class="surface-card__subtitle">$2.100</div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center bg-orange-100 border-round" style="width:42px;height:42px">
                        <i class="pi pi-map-marker text-orange-500 text-size-20"></i>
                    </div>
                </div>
                <span class="surface-card__text-highlight">%52+ </span>
                <span class="surface-card__text">since last week</span>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="d-flex justify-content-between mb-3">
                    <div>
                        <span class="d-block surface-card__title mb-3">Customers</span>
                        <div class="surface-card__subtitle">28441</div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:42px;height:42px">
                        <i class="pi pi-inbox text-cyan-500 text-size-20"></i>
                    </div>
                </div>
                <span class="surface-card__text-highlight">520  </span>
                <span class="surface-card__text">newly registered</span>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="d-flex justify-content-between mb-3">
                    <div>
                        <span class="d-block surface-card__title mb-3">Comments</span>
                        <div class="surface-card__subtitle">152 Unread</div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center bg-purple-100 border-round" style="width:42px;height:42px">
                        <i class="pi pi-comment text-purple-500 text-size-20"></i>
                    </div>
                </div>
                <span class="surface-card__text-highlight">85 </span>
                <span class="surface-card__text">responded</span>
            </div>
        </div>
    </div>
</div>

<div class="surface-ground px-0 px-md-3 pt-3">
    <div class="row">
        <div class="col-12 col-md-4 mb-3">
            <div class="surface-card p-4 text-center">
                <img src="assets/images/home/windows.svg" alt="Image" class="d-block mb-4 ml-auto mr-auto">
                <div class="surface-card__title--type-2">Title Placeholder</div>
                <p class="surface-card__subtitle--type-2 mt-0 mb-4 p-0">Nunc mi ipsum faucibus vitae aliquet nec. Lacus sed viverra tellus in hac habitasse platea dictumst.</p>
                <button pButton pRipple label="Learn More" icon="pi pi-arrow-right p-button-rounded" class="p-button"></button>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="surface-card p-4 text-center">
                <img src="assets/images/home/security.svg" alt="Image" class="d-block mb-4 ml-auto mr-auto">
                <div class="surface-card__title--type-2">Title Placeholder</div>
                <p class="surface-card__subtitle--type-2 mt-0 mb-4 p-0">Nunc mi ipsum faucibus vitae aliquet nec. Lacus sed viverra tellus in hac habitasse platea dictumst.</p>
                <button pButton pRipple label="Learn More" icon="pi pi-arrow-right p-button-rounded" class="p-button"></button>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="surface-card p-4 text-center">
                <img src="assets/images/home/live-collaboration.svg" alt="Image" class="d-block mb-4 ml-auto mr-auto">
                <div class="surface-card__title--type-2">Title Placeholder</div>
                <p class="surface-card__subtitle--type-2 mt-0 mb-4 p-0">Nunc mi ipsum faucibus vitae aliquet nec. Lacus sed viverra tellus in hac habitasse platea dictumst.</p>
                <button pButton pRipple label="Learn More" icon="pi pi-arrow-right p-button-rounded" class="p-button"></button>
            </div>
        </div>
    </div>
</div>

<div class="surface-ground px-0 px-md-3 pt-3">
    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <div class="surface-card p-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <div class="surface-card__title--type-3">Sales</div>
                    <div>
                        <button pButton pRipple icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-plain"></button>
                    </div>
                </div>
                <img src="assets/images/home/chart-line.svg" alt="Image" class="w-100">
            </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <div class="surface-card p-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <div class="surface-card__title--type-3">Customers</div>
                    <div>
                        <button pButton pRipple icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-plain"></button>
                    </div>
                </div>
                <img src="assets/images/home/chart-bar.svg" alt="Image" class="w-100">
            </div>
        </div>
    </div>
</div>

<div class="surface-ground px-0 px-md-3 pt-3 pb-3">
    <!--<svg appSvgLoader="leaf-sharp"></svg>-->
    <button class="btn btn-primary" (click)="openMenu(300, template)">open menu 300</button>
    <button class="btn btn-secondary ml-2 mr-2" (click)="openMenu(500, template)">open menu 500</button>
    <button class="btn btn-success  mr-2" (click)="openMenu(700, template)">open menu 700</button>
    <button class="btn btn-danger" (click)="openMenu(0, template)">full size</button>
    <hr>
    <button (click)="showChildButton()" ovicLogger="father-button"  pButton pRipple type="button btn-primary" label="Submit" icon="pi pi-check"></button>
</div>

<div class="surface-ground px-0 px-md-3 pt-3 pb-3" [innerHTML]="innerButton"></div>

<ng-template #template>
    <div class="ovic-navigation-content">
        <div class="ovic-navigation-content__head">
            <h4 class="ovic-navigation-content__head__title">Title head</h4>
            <button (click)="closeMenu()" pButton pRipple type="button" icon="pi pi-times" class="ovic-navigation-content__head__close-button p-button-rounded p-button-danger p-button-text"></button>
        </div>
        <div class="ovic-navigation-content__body">content</div>
        <div class="ovic-navigation-content__foot">
            <button pButton pRipple type="button" label="Submit" icon="pi pi-check"></button>
        </div>
    </div>
</ng-template>
