<p-editor #edtitor [editor]="edtitor" [Resize_img]="true" [modules]="module_quill" styleClass="ovic-editor"
    (onTextChange)="onTextChange($event)" [(ngModel)]="textContents" [style]="{'height': height }">
    <p-header>
        <span class="ql-formats">
            <select class="ql-header" title="Thẻ tiêu đề">
                <option selected>Chữ thường </option>
                <option value="1">Tiêu đề 1</option>
                <option value="2">Tiêu đề 2</option>
                <option value="3">Tiêu đề 3</option>
                <option value="4">Tiêu đề 4</option>
                <option value="5">Tiêu đề 5</option>
                <option value="6">Tiêu đề 6</option>
            </select>
            <select id="--ql-size" class="ql-size" title="Kích thước chữ">
                <option value="small">Cỡ nhỏ</option>
                <option value="false" selected>Cỡ thường</option>
                <option value="large">Cỡ vừa</option>
                <option value="huge">Cỡ lớn</option>
            </select>
        </span>
        <span class="ql-formats">
            <button class="ql-bold" title="Kiểu chữ đậm"></button>
            <button class="ql-italic" title="Kiểu chữ nghiêng"></button>
            <button class="ql-underline" title="Kiểu chữ ghạch chân"></button>
            <button class="ql-strike" title="Kiểu chữ ghạch ngang"></button>
        </span>
        <span class="ql-formats">
            <select class="ql-align" title="Căn lề">
                <option selected></option>
                <option value="center"></option>
                <option value="right"></option>
                <option value="justify"></option>
            </select>
            <select class="ql-color" title="Màu chữ">
                <option selected="selected"></option>
                <option value="#e60000"></option>
                <option value="#ff9900"></option>
                <option value="#ffff00"></option>
                <option value="#008a00"></option>
                <option value="#0066cc"></option>
                <option value="#9933ff"></option>
                <option value="#ffffff"></option>
                <option value="#facccc"></option>
                <option value="#ffebcc"></option>
                <option value="#ffffcc"></option>
                <option value="#cce8cc"></option>
                <option value="#cce0f5"></option>
                <option value="#ebd6ff"></option>
                <option value="#bbbbbb"></option>
                <option value="#f06666"></option>
                <option value="#ffc266"></option>
                <option value="#ffff66"></option>
                <option value="#66b966"></option>
                <option value="#66a3e0"></option>
                <option value="#c285ff"></option>
                <option value="#888888"></option>
                <option value="#a10000"></option>
                <option value="#b26b00"></option>
                <option value="#b2b200"></option>
                <option value="#006100"></option>
                <option value="#0047b2"></option>
                <option value="#6b24b2"></option>
                <option value="#444444"></option>
                <option value="#5c0000"></option>
                <option value="#663d00"></option>
                <option value="#666600"></option>
                <option value="#003700"></option>
                <option value="#002966"></option>
                <option value="#3d1466"></option>
            </select>
            <select class="ql-background" title="Màu chữ">
                <option selected="selected"></option>
                <option value="#e60000"></option>
                <option value="#ff9900"></option>
                <option value="#ffff00"></option>
                <option value="#008a00"></option>
                <option value="#0066cc"></option>
                <option value="#9933ff"></option>
                <option value="#ffffff"></option>
                <option value="#facccc"></option>
                <option value="#ffebcc"></option>
                <option value="#ffffcc"></option>
                <option value="#cce8cc"></option>
                <option value="#cce0f5"></option>
                <option value="#ebd6ff"></option>
                <option value="#bbbbbb"></option>
                <option value="#f06666"></option>
                <option value="#ffc266"></option>
                <option value="#ffff66"></option>
                <option value="#66b966"></option>
                <option value="#66a3e0"></option>
                <option value="#c285ff"></option>
                <option value="#888888"></option>
                <option value="#a10000"></option>
                <option value="#b26b00"></option>
                <option value="#b2b200"></option>
                <option value="#006100"></option>
                <option value="#0047b2"></option>
                <option value="#6b24b2"></option>
                <option value="#444444"></option>
                <option value="#5c0000"></option>
                <option value="#663d00"></option>
                <option value="#666600"></option>
                <option value="#003700"></option>
                <option value="#002966"></option>
                <option value="#3d1466"></option>
            </select>
        </span>
        <span class="ql-formats">
            <button class="ql-list" value="ordered" title="Danh sách số"></button>
            <button class="ql-list" value="bullet" title="Danh sách chấm"></button>
            <button class="ql-indent q1-box" value="+1" title="Thụt đầu dòng"></button>
            <button class="ql-indent q2-box last" value="-1" title="Giảm thụt đầu dòng"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-link" aria-label="link" title="Thẻ liên kết"></button>
            <button class="ql-image" aria-label="image" title="Chèn ảnh"></button>
            <button class="ql-video" aria-label="video" title="Chèn video"></button>
            <button class="ql-blockquote" aria-label="blockquote" title="Trích dẫn"></button>
            <button class="ql-code-block" aria-label="code-block" title="code-block"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-script" value="sub"></button>
            <button class="ql-script" value="super"></button>
            <button class="ql-direction" value="rtl"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-clean"></button>
        </span>
    </p-header>
</p-editor>