<div class="admin-menu-language-box position-relative" #overlayAnchor>
    <button class="admin-menu-language-box__btn btn" (click)="panel.toggle($event)">
        <span class="admin-menu-language-box__lbl --lang-{{activeLang.name}}"></span>
    </button>
</div>
<p-overlayPanel #panel styleClass="top-bar__overlay-panel --append-to-overlay-anchor" [appendTo]="overlayAnchor">
    <ul class="admin-menu-language-box__list-languages">
        <li *ngFor="let lang of languages">
            <button class="btn admin-menu-language-box__list-languages__button" [class.--lang-active]="activeLang.name === lang.name" (click)="changeLang(panel,lang)">
                <span class="admin-menu-language-box__lbl  admin-menu-language-box__list-languages__lbl --lang-{{lang.name}}"></span>
                {{lang.label}}
            </button>
        </li>
    </ul>
</p-overlayPanel>
