<ng-container [ngSwitch]="checkdata">
  <ng-container *ngSwitchCase="'0'">
    <div class="w-100 d-flex justify-content-center align-items-center flex-column "
      style="height: calc(100vh - 90px);gap:10px;">
      <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
      <div style="font-size:20px; font-weight:400;">
        Hệ thống đang load dữ liệu
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'1'">
    <div class="ovic-container">
      <div class="thpt-form-data ovic-side-navigation-content --no-footer">
        <div class="ovic-vertical__inputs ovic-vertical__inputs--layout-2">
          <form [formGroup]="formSave" autocomplete="off">
            <div class="row row-cols-1">
              <div class="col-12 col-lg-8">
                <div class="row ">
                  <div class="col">
                    <div class="form-row" [class.fieldset--error]="f['hoten'].touched && f['hoten'].invalid"
                      [class.fieldset--invalid]="f['hoten'].touched && f['hoten'].valid">
                      <label>Họ và tên <span class="ovic-mark">*</span></label>
                      <input [disabled]=" f['status'].value === 1" type="text" placeholder="Họ và tên"
                        formControlName="hoten" autocomplete="off">
                    </div>
                  </div>
                  <div class="col ovic-pl-0">
                    <div class="form-row" [class.fieldset--error]="f['phone'].touched && f['phone'].invalid"
                      [class.fieldset--invalid]="f['phone'].touched && f['phone'].valid">
                      <label>Số điện thoại<span class="ovic-mark">*</span></label>
                      <input [disabled]=" f['status'].value ===1" type="text"
                        placeholder="vd:0112233445" formControlName="phone" autocomplete="off">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-row" [class.fieldset--error]="f['ngaysinh'].touched && f['ngaysinh'].invalid"
                      [class.fieldset--invalid]="f['ngaysinh'].touched && f['ngaysinh'].valid">
                      <label>Ngày sinh <span class="ovic-mark">*</span></label>
                      <p-inputMask [disabled]=" f['status'].value ===1 ? true : false" class="w-100"
                        formControlName="ngaysinh" mask="99/99/9999" placeholder="__/__/____"
                        slotChar="dd/mm/yyyy"></p-inputMask>
                      <span class="test-member__from__col__span"
                        *ngIf="f['ngaysinh'].touched && f['ngaysinh'].invalid">{{ f[ 'ngaysinh' ].getError(
                        'theDateDoesNotExist' ) ? 'Ngày không tồn tại' : 'Định dạng ngày chưa đúng' }}</span>
                    </div>

                  </div>
                  <div class="col ">
                    <div class="form-row" [class.fieldset--error]="f['gioitinh'].touched && f['gioitinh'].invalid"
                      [class.fieldset--invalid]="f['gioitinh'].touched && f['gioitinh'].valid">
                      <label>Giới tính<span class="ovic-mark">*</span></label>
                      <p-dropdown [disabled]="f['status'].value ===1 ? true : false" class="w-100"
                        [style]="{'width':'100%'}" [options]="sex" formControlName="gioitinh" optionLabel="name"
                        optionValue="code" placeholder="Chọn..."></p-dropdown>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-row" [class.fieldset--error]="f['dantoc'].touched && f['dantoc'].invalid"
                      [class.fieldset--invalid]="f['dantoc'].touched && f['dantoc'].valid">
                      <label>Dân tộc <span class="ovic-mark">*</span></label>
                      <p-dropdown [disabled]=" f['status'].value ===1 ? true : false" class="w-100"
                        [style]="{'width':'100%'}" [options]="sex" formControlName="dantoc" optionLabel="label"
                        optionValue="label" placeholder="Chọn..."></p-dropdown>
                    </div>

                  </div>
                  <div class="col ">
                    <div class="form-row">
                      <label>Tôn giáo</label>
                      <input [disabled]=" f['status'].value ===1 ? true : false" type="text"
                        placeholder="vd:không,..." formControlName="tongiao" autocomplete="off">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-row" [class.fieldset--error]="f['noisinh'].touched && f['noisinh'].invalid"
                      [class.fieldset--invalid]="f['noisinh'].touched && f['noisinh'].valid">
                      <label>Nơi sinh <span class="ovic-mark">*</span></label>
                      <input [disabled]=" f['status'].value ===1 ? true : false" type="text" placeholder="Nơi sinh"
                        formControlName="noisinh" autocomplete="off">
                    </div>

                  </div>
                  <div class="col ">
                    <div class="form-row" [class.fieldset--error]="f['noisinhkhac'].touched && f['noisinhkhac'].invalid"
                      [class.fieldset--invalid]="f['noisinhkhac'].touched && f['noisinhkhac'].valid">
                      <label>Nơi sinh khác</label>
                      <input [disabled]=" f['status'].value ===1 ? true : false" type="text"
                        placeholder="Nơi sinh khác" formControlName="noisinhkhac" autocomplete="off">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <ovic-avata-type-thpt [disabled]=" f['status'].value ===1 ? true : false"
                  [formField]="f['anh_chandung']" [aspectRatio]="2 / 3" [accept]="['.jpg', '.png', '.jpeg']"
                  [textView]="'Tải ảnh chân dung'"></ovic-avata-type-thpt>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-row">
                  <label>Quê quán<span class="ovic-mark">*</span></label>
                  <ovic-input-address-four-layouts [disabled]=" f['status'].value ===1 ? true : false" class="w-100"
                    [formField]="f['quequan']" (onChanges)="changeQuequan($event)"></ovic-input-address-four-layouts>
                </div>
              </div>
            </div>
            <div class="row ">
              <div class="col-12">
                <div class="form-row">
                  <label for=></label>
                  <div class="row w-100">
                    <div class=" col-12 col-lg-6 " style="margin-top:30px;">
                      <ovic-avata-type-thpt [disabled]=" f['status'].value ===1 ? true : false"
                        [formField]="f['cccd_img_truoc']" [aspectRatio]="3 / 2" [accept]="['.jpg', '.png', '.jpeg']"
                        [textView]="'Tải ảnh CCCD mặt trước'"></ovic-avata-type-thpt>
                    </div>
                    <div class=" col-12 col-lg-6 " style="margin-top:30px;">
                      <ovic-avata-type-thpt [disabled]=" f['status'].value ===1 ? true : false"
                        [formField]="f['cccd_img_sau']" [aspectRatio]="3 / 2" [accept]="['.jpg', '.png', '.jpeg']"
                        [textView]="'Tải ảnh CCCD mặt sau'"></ovic-avata-type-thpt>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row  row-cols-1">
              <div class="col-12 col-lg-4 col-md-4">
                <div class="form-row" [class.fieldset--error]="f['cccd_so'].touched && f['cccd_so'].invalid"
                  [class.fieldset--invalid]="f['cccd_so'].touched && f['cccd_so'].valid">
                  <label>Số CCCD <span class="ovic-mark">*</span></label>
                  <input [disabled]=" f['status'].value ===1 ? true : false" type="text"
                    placeholder="Vd:0918000112331" formControlName="cccd_so" autocomplete="off">
                </div>
              </div>
              <div class="col-12 col-lg-4 col-md-4">
                <div class="form-row" [class.fieldset--error]="f['cccd_ngaycap'].touched && f['cccd_ngaycap'].invalid"
                  [class.fieldset--invalid]="f['cccd_ngaycap'].touched && f['cccd_ngaycap'].valid">
                  <label>Ngày cấp <span class="ovic-mark">*</span></label>
                  <p-inputMask [disabled]=" f['status'].value ===1 ? true : false" class="w-100"
                    formControlName="cccd_ngaycap" mask="99/99/9999" placeholder="__/__/____"
                    slotChar="dd/mm/yyyy"></p-inputMask>
                </div>
              </div>

              <div class="col-12 col-lg-4 col-md-4">
                <div class="form-row" [class.fieldset--error]="f['cccd_noicap'].touched && f['cccd_noicap'].invalid"
                  [class.fieldset--invalid]="f['cccd_noicap'].touched && f['cccd_noicap'].valid">
                  <label>Nơi cấp <span class="ovic-mark">*</span></label>
                  <input [disabled]=" f['status'].value ===1 ? true : false" type="text"
                    placeholder="Vd:0918000112331" formControlName="cccd_noicap" autocomplete="off">
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-12">
                <div class="form-row">
                  <label>Địa chỉ thường trú<span class="ovic-mark">*</span></label>
                  <ovic-input-address-four-layouts [disabled]=" f['status'].value ===1 ? true : false" class="w-100"
                    [formField]="f['thuongtru_diachi']"
                    (onChanges)="changeThuongchu($event)"></ovic-input-address-four-layouts>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-row" [class.fieldset--error]="f['khuvuc'].touched && f['khuvuc'].invalid"
                  [class.fieldset--invalid]="f['khuvuc'].touched && f['khuvuc'].valid">
                  <label>Khu vực <span class="ovic-mark">*</span></label>
                  <p-dropdown [disabled]=" f['status'].value ===1 ? true : false" class="w-100"
                    [style]="{'width':'100%'}" [filter]="true" [options]="khuvucdata" formControlName="khuvuc"
                    optionLabel="title" optionValue="code" placeholder="chọn khu vực"></p-dropdown>
                </div>
              </div>
              <div class="col">
                <div class="form-row"
                  [class.fieldset--error]="f['namtotnghiep_thpt'].touched && f['namtotnghiep_thpt'].invalid"
                  [class.fieldset--invalid]="f['namtotnghiep_thpt'].touched && f['namtotnghiep_thpt'].valid">
                  <label>Năm tốt nghiệp <span class="ovic-mark">*</span></label>
                  <input [disabled]=" f['status'].value ===1 ? true : false" type="text" placeholder="Vd:2023,2024"
                    formControlName="namtotnghiep_thpt" autocomplete="off">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12" style="margin-top:30px;font-size:16px;font-weight:500;">
                Thông tin THTP
              </div>
            </div>
            <div class="row">
              <div class="col-12 ">
                <div class="form-row">
                  <label>Lớp 10<span class="ovic-mark">*</span></label>
                  <div class="w-100 form-row-ilement">
                    <div class="row">
                      <div class="col col-lg- col-md-63">
                        <div class="form-row"
                          [class.fieldset--error]="f['lop10_thanhpho'].touched && f['lop10_thanhpho'].invalid"
                          [class.fieldset--invalid]="f['lop10_thanhpho'].touched && f['lop10_thanhpho'].valid">
                          <label>Thành phố<span class="ovic-mark">*</span></label>
                          <p-dropdown [disabled]=" f['status'].value ===1 ? true : false" class="w-100"
                            [style]="{'width':'100%'}" [filter]="true" formControlName="lop10_thanhpho"
                            [options]="provinceOptions" optionLabel="name" optionValue="id"
                            placeholder="chọn thành phố"></p-dropdown>
                        </div>
                      </div>
                      <div class="col col-lg-3 col-md-6">
                        <div class="form-row"
                          [class.fieldset--error]="f['lop10_truong'].touched && f['lop10_truong'].invalid"
                          [class.fieldset--invalid]="f['lop10_truong'].touched && f['lop10_truong'].valid">
                          <label>Trường <span class="ovic-mark">*</span></label>
                          <input [disabled]=" f['status'].value ===1 ? true : false" type="text"
                            placeholder="Vd:Trường THPT A" formControlName="lop10_truong" autocomplete="off">
                        </div>
                      </div>
                      <div class="col col-lg-3 col-md-6">
                        <div class="form-row" [class.fieldset--error]="f['diem10ky1'].touched && f['diem10ky1'].invalid"
                          [class.fieldset--invalid]="f['diem10ky1'].touched && f['diem10ky1'].valid">
                          <label>Điểm HK I <span class="ovic-mark">*</span></label>
                          <input [disabled]=" f['status'].value ===1 ? true : false" type="text"
                            placeholder="Vd:9.95" formControlName="diem10ky1" autocomplete="off">
                        </div>
                      </div>
                      <div class="col col-lg-3 col-md-6">
                        <div class="form-row" [class.fieldset--error]="f['diem10ky2'].touched && f['diem10ky2'].invalid"
                          [class.fieldset--invalid]="f['diem10ky2'].touched && f['diem10ky2'].valid">
                          <label>Điểm HK II <span class="ovic-mark">*</span></label>
                          <input [disabled]=" f['status'].value ===1 ? true : false" type="text"
                            placeholder="Vd:4.5" formControlName="diem10ky2" autocomplete="off">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 ">
                <div class="form-row">
                  <label>Lớp 11<span class="ovic-mark">*</span></label>
                  <div class="w-100 form-row-ilement">
                    <div class="row">
                      <div class="col col-lg-3 col-md-6">
                        <div class="form-row"
                          [class.fieldset--error]="f['lop11_thanhpho'].touched && f['lop11_thanhpho'].invalid"
                          [class.fieldset--invalid]="f['lop11_thanhpho'].touched && f['lop11_thanhpho'].valid">
                          <label>Thành phố<span class="ovic-mark">*</span></label>
                          <p-dropdown [disabled]=" f['status'].value ===1 ? true : false" class="w-100"
                            [style]="{'width':'100%'}" [filter]="true" formControlName="lop11_thanhpho"
                            [options]="provinceOptions" optionLabel="name" optionValue="id"
                            placeholder="chọn thành phố"></p-dropdown>
                        </div>
                      </div>
                      <div class="col col-lg-3 col-md-6">
                        <div class="form-row"
                          [class.fieldset--error]="f['lop11_truong'].touched && f['lop11_truong'].invalid"
                          [class.fieldset--invalid]="f['lop11_truong'].touched && f['lop11_truong'].valid">
                          <label>Trường<span class="ovic-mark">*</span></label>
                          <input [disabled]=" f['status'].value ===1 ? true : false" type="text"
                            placeholder="Vd:Trường THPT A" formControlName="lop11_truong" autocomplete="off">
                        </div>
                      </div>
                      <div class="col col-lg-3 col-md-6">
                        <div class="form-row" [class.fieldset--error]="f['diem11ky1'].touched && f['diem11ky1'].invalid"
                          [class.fieldset--invalid]="f['diem11ky1'].touched && f['diem11ky1'].valid">
                          <label>Điểm HK I <span class="ovic-mark">*</span></label>
                          <input [disabled]=" f['status'].value ===1 ? true : false" type="text"
                            placeholder="Vd:5.45" formControlName="diem11ky1" autocomplete="off">
                        </div>
                      </div>
                      <div class="col col-lg-3 col-md-6">
                        <div class="form-row" [class.fieldset--error]="f['diem11ky2'].touched && f['diem11ky2'].invalid"
                          [class.fieldset--invalid]="f['diem11ky2'].touched && f['diem11ky2'].valid">
                          <label>Điểm HK II <span class="ovic-mark">*</span></label>
                          <input [disabled]=" f['status'].value ===1 ? true : false" type="text"
                            placeholder="Vd:6.56" formControlName="diem11ky2" autocomplete="off">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 ">
                <div class="form-row">
                  <label>Lớp 12<span class="ovic-mark">*</span></label>
                  <div class="w-100 form-row-ilement">
                    <div class="row">
                      <div class="col col-lg-3">
                        <div class="form-row"
                          [class.fieldset--error]="f['lop12_thanhpho'].touched && f['lop12_thanhpho'].invalid"
                          [class.fieldset--invalid]="f['lop12_thanhpho'].touched && f['lop12_thanhpho'].valid">
                          <label>Thành phố <span class="ovic-mark">*</span></label>
                          <p-dropdown [disabled]=" f['status'].value ===1 ? true : false" class="w-100"
                            [style]="{'width':'100%'}" [filter]="true" formControlName="lop12_thanhpho"
                            [options]="provinceOptions" optionLabel="name" optionValue="id"
                            placeholder="chọn thành phố"></p-dropdown>
                        </div>
                      </div>
                      <div class="col col-lg-3">
                        <div class="form-row"
                          [class.fieldset--error]="f['lop12_truong'].touched && f['lop12_truong'].invalid"
                          [class.fieldset--invalid]="f['lop12_truong'].touched && f['lop12_truong'].valid">
                          <label>Trường <span class="ovic-mark">*</span></label>
                          <input [disabled]=" f['status'].value ===1 ? true : false" type="text"
                            placeholder="Vd:Trường THPT A" formControlName="lop12_truong" autocomplete="off">
                        </div>
                      </div>
                      <div class="col col-lg-3">
                        <div class="form-row" [class.fieldset--error]="f['diem12ky1'].touched && f['diem12ky1'].invalid"
                          [class.fieldset--invalid]="f['diem12ky1'].touched && f['diem12ky1'].valid">
                          <label>Điểm HK I <span class="ovic-mark">*</span></label>
                          <input [disabled]=" f['status'].value ===1 ? true : false" type="text"
                            placeholder="Vd:5.5" formControlName="diem12ky1" autocomplete="off">
                        </div>
                      </div>
                      <div class="col col-lg-3">
                        <div class="form-row" [class.fieldset--error]="f['diem12ky2'].touched && f['diem12ky2'].invalid"
                          [class.fieldset--invalid]="f['diem12ky2'].touched && f['diem12ky2'].valid">
                          <label>Điểm HK II <span class="ovic-mark">*</span></label>
                          <input [disabled]=" f['status'].value ===1 ? true : false" type="text"
                            placeholder="Vd:5.45" formControlName="diem12ky2" autocomplete="off">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-12 col-lg-6 col-md-6">
                <div class="form-row">
                  <label>Người nhận Phiếu điểm <span class="ovic-mark">*</span></label>
                  <input [disabled]=" f['status'].value ===1 ? true : false" type="text"
                    placeholder="Vd:Trần Minh A" formControlName="nguoinhan_hoten" autocomplete="off">
                </div>
              </div>
              <div class="col-12 col-lg-6 col-md-6">
                <div class="form-row">
                  <label>Số điện thoại người nhận <span class="ovic-mark">*</span></label>
                  <input [disabled]=" f['status'].value ===1 ? true : false" type="text"
                    placeholder="Vd:0918000112331" formControlName="nguoinhan_phone" autocomplete="off">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-row">
                  <label>Địa chỉ nhận phiếu điểm <span class="ovic-mark">*</span></label>
                  <ovic-input-address-four-layouts [disabled]=" f['status'].value === 1 ? true : false" class="w-100"
                    [formField]="f['nguoinhan_diachi']"
                    (onChanges)="changeNguoinhandc($event)"></ovic-input-address-four-layouts>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div *ngIf="f['status'].value == 0,else statuscheck"
          class="w-100 h-100 d-flex justify-content-center align-items-center" style="padding: 20px 0;gap: 12px;">
          <button pButton pRipple label="Lưu thông tin" icon="pi pi-check-square" (click)="saveForm()"> </button>
          <button pButton pRipple label="Khoá thông tin" icon="pi pi-lock" class="p-button-warning"
            (click)="privateData()"> </button>
        </div>

        <ng-template #statuscheck>
          <div class="w-100 h-100 d-flex justify-content-center align-items-center" style="padding: 20px 0;gap: 12px;">
            <!--          <button pButton pRipple class="ovic-button&#45;&#45;disabled"  label="Lưu thông tin" icon="pi pi-check-square" > </button>-->
            <button pRipple pButton class="ovic-button--disabled" label="Lưu thông tin"
              icon="pi pi-check-square"></button>
            <button pButton pRipple class="ovic-button--disabled p-button-warning" label="Khoá thông tin"
              icon="pi pi-lock"> </button>
          </div>
        </ng-template>
      </div>

    </div>
  </ng-container>
</ng-container>

<div *ngIf="userInfo, else notUserInfo">

</div>
<ng-template #notUserInfo>

</ng-template>