.checkPhieunhan {
  display: flex;
  justify-content: center;
  margin-top: 11px;
  align-items: center;
  gap: 10px;
  border: 1px solid #ccc;

}

@media(max-width :1024px) {
  .mar-14px {
    margin-top: 20px;
  }
}

.checkCamket{
  display:flex;
  padding: 20px 0 0 0;
  gap: 10px;
  justify-content: center;
  align-items: flex-end;
  font-size: 15px;
}
