.ovic-navigation {
    display: block;
}

.ovic-navigation__list {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.ovic-navigation__list-eml {
    display: inline-block;
}

.ovic-navigation__list-eml:first-child > span,
.ovic-navigation__list-eml:last-child > span {
    opacity: 0.4;
}

.ovic-navigation__nav-link {
    display: inline-block;
    font-size: 15px;
    border: 1px solid #e6e6e6;
    background: transparent;
    line-height: 1;
    padding: 12px 0 11px;
    margin: 0 5px;
    min-width: 40px;
    text-align: center;
    transition: background-color .3s;
    color: #212121;
}

.active .ovic-navigation__nav-link {
    background-color: #007f49;
    color: #ffffff;
    border: 1px solid #007f49;
}

button.ovic-navigation__nav-link:hover {
    background-color: #e6e6e6;
}

.last-page-in-mobile {
    display: none;
}

@media (max-width: 575px) {
    .ovic-navigation__list-eml:not(.active):not(.prev-elm):not(.next-elm) {
        display: none;
    }

    .active .last-page-in-mobile {
        display: inline-block;
        font-style: normal;
    }

    .active .ovic-navigation__nav-link{
        background: #ffffff;
        color: #333333;
        border: 1px solid #ededed;
        font-size: 20px;
        padding: 9px 15px;
    }
}
